/* Set Global font and font color*/
* {
    font-family: 'Lora', serif;
}

body {
    background-color: #2AB7CA;
}

header, h2 {
    background-color: #FE4A49;
    text-align: center;
    border: black 2px solid;
}

h1, #main {
    color:#E6E6EA ;
}

#sidebar {
    background-color: #0081a7;
    color:#E6E6EA ;
    border: black 2px solid;
}

.currentWeatherSection {
    max-width: 700px;
}

.dayBox, .uviHeader {
    background-color: #0081a7;
    border: solid 2px #FE4A49;
    border-radius: 15px;
}

.dayHeader, .uviHeader, #currentWeatherHeader, .current {
    text-align: center;
}

.imgSize {
    max-width: 124px;
}

.btn {
    border: black 1px solid;
    margin: 10px 10px 0 0;
}

.w-25, .current {
    margin: auto;
}

.weatherContainer {
    height: 100vh;
}

#currentUviNumber {
    max-width: 50px;
}

@media (max-width: 540px) {
    #sidebar {
        width: 40vw;
    }
    #main {
        width: 60vw;
    }
}