/* Set Global font and font color*/
* {
    font-family: 'Lora', serif;
}

body {
    background-color: #2AB7CA;
}

header {
    background-color: #FE4A49;
    text-align: center;
    border-bottom: black 3px solid;
}

h1, #main {
    color:#E6E6EA ;
}

#sidebar {
    background-color: #0081a7;
    color:#E6E6EA ;
    border-right: black 3px solid;
    border-bottom: black 3px solid;
}

.dayBox {
    background-color: #0081a7;
    border: solid 2px #FE4A49;
    border-radius: 15px;
}

.dayHeader {
    text-align: center;
}

.imgSize {
    max-width: 124px;
}

/* Tart orange
#FE4A49

Orange Yellow Crayola
#FED766

Gainsboro (grayish)
#E6E6EA */